/* Navigation*/
 #navbar{
    flex-direction: column;

 }
 #logo{
    margin:2pxpx auto;
 }
 #logo img {
    margin: 19px 0px;
    height: 126px;
}
 #navbar ul li a {
    padding: 0px 6px;
    font-size: 1.2rem;
}
 /* home */
 #home{
height: 500px;
padding: 0px 20px;
margin-bottom: -280px;
 }
 #home::before{
height:450px;
 }
 #home h1 {
    margin-top: -296px;
    font-size: 1.7rem;
}
 #home p{
    font-size: 13px;
 }
 .btn {
    padding: 0px 10px;
    font-size: 1.1rem;
}

 /* servicer */
 #services-container{
    margin-top: 0px;
    padding-top: 0px;
 }
 .services{
    flex-direction: column;

 }
 .serh1{
    margin-top: -25px;
    margin-bottom: 0px;
    font-size: 2.6rem;
 }
 .services .box {
  
    margin: 11px 8px;
}
 .services .box img {
 
    height: 102px;
}

/* outlets */
#outlets{
  flex-wrap: wrap;
  margin: -42px auto;
}
.outlet-item {
    
    margin: -52px auto;
    padding: 28px;
    padding-top: 64px;

}
.serh2
{
    margin-bottom: 13px;
}
#outlet-section{
    height:177px;
}

/* contact */
#contact-section{
    margin-top: 380px;
}
#contact-section::before{
    content: "";
    background: url('../img/contact.jpg')no-repeat center center/cover;
    position: absolute;
    height: 65%;
 }
 #fbtn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 20px;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 13px;
    margin: 10px auto;
    width: 108%;
    color: white;
    background-color: rgb(5, 113, 220);
    cursor: pointer;
    font-size: 1.5rem;
    font-family: 'Baloo Bhai 2', cursive;
}

/* footer */
footer {
    margin-top: 32px;
    font-size: 16px;
}

/* extra */
#only-pc{
    visibility: hidden;
    overflow: hidden;
}
.onlypc{
    visibility: hidden;
    overflow: hidden;
}